/* Background pattern from Subtle Patterns */


th{
    text-align: center;
}
.jumbotron h1{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Asset', cursive;
}
.jumbotron{
    margin-top: 10px;
   // background-image: url(../images/Train-Tracks.jpg);
    background-color: #1B2C59;
    background-size: cover;
  /* Image in the center of container */
    background-position: center center;
}
.panel-default>.panel-heading { 
    background-color: #1B2C59;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.panel-default> .panel-body{
    background-color: #F1F0F2
}

